<div class="span9">
  <div id="flash-message"> 
  </div>
  <div class="well">
    <div class="project-block">
      <div class="row-fluid">
        <h4 class="span9">
          <a href="/companies/monkey-testers">Monkey Testers</a>
        </h4>
        <div class="span3"></div>
      </div>
    </div>
  </div>
</div>
<div class="span3">
  <div>
    <ul class="nav nav-stacked">
      <li>
        <a href="/companies/new">
          <span class="navico">
            <i class="icon-fixed-width icon-plus"> 
            </i>
          </span>
          add a new company
        </a>
      </li>
    </ul>
  </div>
  <div class="clearfix assets">
    </div>
  </div>
</div>








